.dropdown-container {
  position: relative;
  display: flex;
}

.dropdown-content {
  display: none;
  position: absolute;
  left: 0;
  right: 0;
  z-index: 1;
  top: 40px;
  background-color: white;
  border-radius: var(--border-radius);
}

.dropdown-content.visible {
  display: flex;
  flex-direction: column;
}
