@import "theme";

body {
  width: max(50%, 500px);
  margin: auto
}

.spacer {
  flex: 1 1 auto
}

button {
  margin: auto
}

a {
  text-decoration: none
}

mat-accordion {
  margin: 5px;
}

.flex-row {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: available;
  gap: 10px;
  align-items: center;
  margin: 10px;
}

.stretch > * {
  flex: 1 1 auto;
}

.full-width {
  width: 100%
}

mat-chip-option {
  max-width: 100%;
}

.mat-mdc-chip-action {
  width: 100%;
}

.mdc-evolution-chip__graphic {
  flex: unset !important;
}

.chart-container {
  width: 100%;
  max-height: 70vh;
}

img {
  max-width: 100%;
}

mat-expansion-panel-header {
  height: auto!important;
}
