if (params.chipatlas_tissue_types) {
    process {
        withName: 'SAMTOOLS_SORT' {
            ext.prefix = { "${meta.id}.sorted" }
        }
    }
    process {
        withName: 'CONCATENATE_EH_ATLAS' {
            ext.prefix = { "eh" }
        }
    }
    process {
        withName: 'CONCATENATE_CHIP_ATLAS' {
            ext.prefix = { "chipatlas" }
        }
    }
    process {
        withName: 'LEARN_BACKGROUND_MODEL' {
            ext.model = { "background" }
        }
    }

    process {
        withName: 'LEARN_ENHANCER_MODEL' {
            ext.model = { "enhancer" }
        }
    }

    process {
        withName: 'LEARN_PROMOTER_MODEL' {
            ext.model = { "promoter" }
        }
    }
}