/*
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Config file for defining DSL2 per module options and publishing paths
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Available keys to override module options:
        ext.args   = Additional arguments appended to command in module.
        ext.args2  = Second set of arguments appended to command in module (multi-tool modules).
        ext.args3  = Third set of arguments appended to command in module (multi-tool modules).
        ext.prefix = File name prefix for output files.
----------------------------------------------------------------------------------------
*/

process {

    publishDir = [
        path: { "${params.outdir}/${task.process.tokenize(':')[-1].tokenize('_')[0].toLowerCase()}" },
        mode: params.publish_dir_mode,
        saveAs: { filename -> filename.equals('versions.yml') ? null : filename }
    ]

    withName: MAP_GTF {
        ext.args = "-l \"gene_id,gene_name\""
    }

    withName: REMOVE_GENE_VERSIONS {
        ext.args = {"'{sub(/\\.[0-9]+/, \"\", \$1); print \$1 \"\t\" \$2}'"}
        ext.prefix = {"${meta.id}.no_version"}
        ext.suffix = "tsv"
    }

    withName: CLEAN_BED {
        ext.args = {"'{print \$1 \"\\t\" \$2 \"\\t\" \$3}'"}
        ext.prefix = {"${meta.id}.clean"}
        ext.suffix = "bed"
    }

    withName: CLEAN_INDEX {
        ext.args = {"'{print \$1 \"\\t\" \$2}'"}
        ext.prefix = {"${meta.id}.clean"}
        ext.suffix = "tsv"
    }

    withName: ".*:REMOVE_CHR.*" {
        ext.args = {"'BEGIN{OFS=\"\\t\"} { if (substr(\$0, 1, 3) == \"chr\") {print substr(\$0, 4, length(\$0))} else {print \$0} }'"}
        ext.prefix = {"${meta.id}.nochr"}
        ext.suffix = "bed"
    }

    withName: CHR_M {
        ext.args = {"'BEGIN{OFS=\"\\t\"} {if (\$1 == \"M\") \$1 = \"MT\"; print}'"}
        ext.prefix = {"${meta.id}.chrmt"}
        ext.suffix = "bed"
    }

    withName: ROSE_OUTPUT_TO_BED {
        ext.args = {"'BEGIN{FS=\"\\t\";OFS=\"\\t\"} {print \$1, \$4-1, \$5}'"}
        ext.prefix = {"enhancers_${meta.state}"}
        ext.suffix = "bed"
    }

    withName: ".*_FAIDX" {
        ext.suffix = "fai"
    }

    withName: CLEAN_BED_ANNOTATE_SAMPLES {
        ext.args = {"'{ if (substr(\$1, 1, 3) != \"chr\") { \$1 = \"chr\" \$1; } {print \$1 \"\\t\" \$2 \"\\t\" \$3 \"\\t\" \"${meta.id}\"} }'"}
        ext.prefix = {"${meta.id}.sample_annotated"}
        ext.suffix = "bed"
    }

    withName: SAMTOOLS_SORT {
        ext.prefix = {"${meta.id}.sorted"}
    }

    withName: BEDTOOLS_SORT {
        ext.prefix = {"${meta.id}.sorted"}
    }

    withName: SORT_PEAKS {
        ext.prefix = {"${meta.id}.sorted"}
    }

    withName: SORT_FOOTPRINTS {
        ext.prefix = {"${meta.id}.sorted"}
    }

    withName: BEDTOOLS_MERGE {
        ext.prefix = {"${meta.id}.merged"}
    }

    withName: MERGE_PEAKS:BEDTOOLS_MERGE {
        ext.prefix = {"${meta.id}.merged"}
        ext.args = "-c 4 -o count_distinct"
    }

    withName: ".*MERGE_PEAKS:FILTER_MIN_OCCURRENCE" {
        ext.args = "'\$NF >= ${params.min_peak_occurrence}'"
        ext.suffix = "bed"
    }

    withName: ".*CHIP_ATLAS:CLEAN_ALL" {
        ext.args = "'{if (\$0 !~ /^track/) {print \$0}}'"
        ext.prefix = {"${meta.id}"}
        ext.suffix = "bed"
    }

    withName: ".*PEAKS:BEDTOOLS_CLOSEST" {
        ext.args = "-D a -io -iu"
        ext.prefix = {"${meta.id}.closest"}
    }

    withName: ".*PEAKS:FILTER_CLOSEST" {
        ext.args = "'{ if (\$NF <= ${params.max_peak_gap} && \$NF >= 0) {print \$1 \"\\t\" \$3 \"\\t\" \$6 \"\\t\" \$8} }'"
        ext.prefix = {"${meta.id}.filtered"}
        ext.suffix = "bed"
    }

    withName: RUN_DYNAMITE {
        errorStrategy = "ignore"
    }

    withName: ".*DYNAMITE:FILTER" {
        ext.args = {"'BEGIN{OFS=\"\\t\"} NR==1 || ((\$2 >= ${params.dynamite_min_regression} || -\$2 >= ${params.dynamite_min_regression} ) && \$1 != \"Peak_Length\" && \$1 != \"Peak_Counts\")'"}
        ext.prefix = {"${meta.id}.filtered"}
        ext.suffix = "tsv"
    }

    withName: CUSTOM_DUMPSOFTWAREVERSIONS {
        publishDir = [
            path: { "${params.outdir}/pipeline_info" },
            mode: params.publish_dir_mode,
            pattern: '*_versions.yml'
        ]
    }

}
