# Ignore everything
*

# But not these files...
!.gitignore
!TEPIC.zip
!run_deseq2.R
!/TEPIC/TEPIC/*
!/TEPIC/TEPIC/*/*
!/TEPIC/TEPIC/*/*/*
!/TEPIC/TEPIC/*/*/*/*
!/TEPIC/TEPIC/*/*/*/*/*
!/TEPIC/TEPIC/*/*/*/*/*/*
!/TEPIC/TEPIC/*/*/*/*/*/*/*
!/TEPIC/TEPIC/*/*/*/*/*/*/*/*
!/TEPIC/TEPIC/*/*/*/*/*/*/*/*/*
!/TEPIC/TEPIC/*/*/*/*/*/*/*/*/*/*
!WEBSITE_CSS/*
!WEBSITE/CSS/*
!WEBSITE/images/*
# etc...

# ...even if they are in subdirectories
!*/
