# Ignore everything
*

# But not these files...
!.gitignore
!TEPIC.zip
!run_deseq2.R
!/TEPIC/TEPIC/*
!/TEPIC/TEPIC/*/*
!/TEPIC/TEPIC/*/*/*
!/TEPIC/TEPIC/*/*/*/*
!/TEPIC/TEPIC/*/*/*/*/*
!/TEPIC/TEPIC/*/*/*/*/*/*
!/TEPIC/TEPIC/*/*/*/*/*/*/*
!/TEPIC/TEPIC/*/*/*/*/*/*/*/*
!/TEPIC/TEPIC/*/*/*/*/*/*/*/*/*
!/TEPIC/TEPIC/*/*/*/*/*/*/*/*/*/*
!REPORT/*
!REPORT/*/*
!REPORT/*/*/*
!Enhancers_DB
!Enhancers_DB/*
!Enhancers_DB/ENdb.bed
# etc...

# ...even if they are in subdirectories
!*/
