:root {
    --c1: #0d1b2a;
    --c2: #1b263b;
    --c3: #415a77;
    --c4: #778da9;
    --c5: #e0e1dd;
    --disabledbutton: #999999;
    --black: 0, 0, 0;
}

html {
    overflow-y: scroll;
}

body {
    font-family: 'DejaVu Sans', Arial, Helvetica, sans-serif;
    max-width: 900px;
    margin-left: auto;
    margin-right: auto;
}

div {
    border-radius: 8px;
}

.main {
    margin: 5px;
}

button, input, a {
    border-radius: 8px;
    margin: 1px;
    background-color: var(--c2);
    opacity: 0.88;
    border: none;
    color: white;
    padding: 10px 15px;
    font-size: 16px;
    text-decoration: none;
    outline: none;
    text-align: center;
}

a.transparent {
    background-color: transparent;
}

button:hover, a:hover {
    opacity: 1;
    cursor: pointer;
}

button.active {
    opacity: 0.94;
    cursor: default;
}

button:disabled {
    background-color: var(--disabledbutton);
}

button:disabled:hover {
    cursor: not-allowed;
}

.header {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    flex-wrap: wrap;
    align-items: center;
}

.header button {
    background-color: var(--c1);
    margin: 5px;
}

.dataset .header button {
    background-color: var(--c4);
}

.header h1, .header h2, .header h3 {
    justify-self: left;
    margin-right: auto;
}

.accordion {
    width: 100%;
    display: flex;
    flex-direction: row;
}

.accordion button, .accordion a {
    display: block;
    font-size: 25px;
    text-align: left;
    padding: 18px;
    width: 100%;
}

.panel {
    padding: 0 18px;
    overflow: visible;
    display: none;
}

.panel button.accordion {
    background-color: var(--c3);
}

button.text {
    border-bottom-right-radius: 0;
    border-top-right-radius: 0;
}

img {
    max-width: 100%;
    max-height: 100%;
}

button img, a img {
    max-width: 50px;
    max-height: 50px;
}

.header img {
    max-width: 50px;
    max-height: 50px;
    margin: 5px;
}

.dataset img {
    max-width: 40px;
    max-height: 40px;
    margin: 5px;
}

.dataset img:hover, .header img:hover {
    cursor: pointer;
}

button.image, a.download {
    font-size: 0;
    padding: 10px;
    border-bottom-left-radius: 0;
    border-top-left-radius: 0;
    width: max-content;
    justify-self: end;
}

a.download {
    border-radius: 0;
}

.dataset {
    background-color: var(--c5);
}

.panel.text, .dataset {
    padding: 10px;
    margin: 2px;
}

.buttonbar {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-content: stretch;
    flex-wrap: wrap;
}

.buttonbar button, .buttonbar a, .buttonbar label {
    flex-grow: 1;
}

.buttonbar input {
    width: -webkit-fill-available;
}

.panel .accordion button, .accordion.sub button, .accordion a {
    background-color: var(--c3);
}

.selector, .filterOption {
    background-color: var(--c4);
}

.selector.active, .filterOption.active {
    background-color: var(--c3);
}

.filterOption.active:hover {
    cursor: pointer;
}

.modal.source {
    border-radius: 5px;
    cursor: pointer;
    transition: 0.3s;
}

.modal.background {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100vw;
    height: 100vw;
    overflow: hidden;
    background-color: rgb(0, 0, 0);
    background-color: rgba(0, 0, 0, 0.9);
}

.modal.content {
    margin: auto;
    display: block;
    max-width: 80vw;
    max-height: 90vh;
    position: center;
}

.modal.caption {
    font-size: 40px;
    display: block;
    color: #ccc;
    padding: 10px 0;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
}

.modal.content {
    animation-name: zoom;
    animation-duration: 0.6s;
}

@keyframes zoom {
    from {
        transform: scale(0);
    }
    to {
        transform: scale(1);
    }
}

.modal.button {
    background-color: transparent;
    font-size: 60px;
    border-radius: 0;
    margin: 0;
}

.modal.button:hover {
    background-color: rgba(255, 255, 255, 0.1);
}

.modal.button:disabled {
    color: transparent;
}

.modal.button:disabled:hover {
    cursor: default;
    background-color: transparent;
}

.modal.close {
    justify-self: right;
    margin-left: auto;
    max-width: 10%;
    color: #f1f1f1;
    font-weight: bold;
    transition: 0.3s;
    padding: 0;
}

td, th {
    padding: 10px;
    border-radius: 8px;
    text-align: center;
    margin: 0;
}

td:hover {
    background-color: rgba(var(--black), 0.1);
    cursor: default;
}

button.dropdown {
    background-color: var(--c3);
    min-width: 200px;
}

.selector.narrow {
    max-width: max-content;
}

.dropdown.container {
    position: relative;
    display: flex;
}

.dropdown.content {
    display: none;
    position: absolute;
    left: -300px;
    right: -300px;
    z-index: 1;
    top: 40px;
}

.dropdown.content.show {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.dropdown.entry {
    width: max-content;
}

::placeholder {
    color: #ccc;
    opacity: 1;
}

:-ms-input-placeholder {
    color: #ccc;
}

::-ms-input-placeholder {
    color: #ccc;
}

input:focus {
    outline: none;
}

.dropdown.content {
    background-color: white;
}

.geneCards.dropdown.content {
    flex-direction: column;
    left: 0;
    right: 0;
}

button.geneCards.dropdown {
    min-width: min-content;
}

input {
    text-align: center;
}