.highest {
  background-color: #2cba00;
}

.high {
  background-color: #a3ff00;
}

.medium {
  background-color: #fff400;
}

.low {
  background-color: #ffa700;
}

.lowest {
  background-color: #ff0000;
}

.unavailable{
  background-color: gray;
}
